.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  
  .product-card h3 {
    font-size: 1.2em;
  }
  
  .product-card p {
    color: #757575;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #004d40; /* Primary color */
  }
  
  .product-description {
    margin-top: 8px;
    max-height: 80px; /* Limiting to 4 lines of text */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }
  .add-to-cart {
    background-color: #004d40; /* Primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #00332c; /* Darker shade of primary color */
  }
  